<div>
  <h2>Cadastro de Produtos</h2>
  <form (ngSubmit)="cadastrarProduto()">
    <label for="nome">Nome:</label>
    <input id="nome" [(ngModel)]="novoProduto.nome" name="nome" required />

    <label for="preco">Preço:</label>
    <input id="preco" [(ngModel)]="novoProduto.preco" name="preco" required />

    <label for="quantidade">Quantidade:</label>
    <input
      id="quantidade"
      [(ngModel)]="novoProduto.quantidade"
      name="quantidade"
      required
    />

    <button type="submit">Cadastrar</button>
  </form>

  <h3>Lista de Produtos</h3>
  <ul>
    <li *ngFor="let produto of produtos">
      {{ produto.nome }} - R$ {{ produto.preco | number : "1.2-2" }} -
      Quantidade: {{ produto.quantidade }}
    </li>
  </ul>
</div>
