<!-- tela-cadastro-produtos.component.html -->
<h2>Cadastro de Produto</h2>
<form (ngSubmit)="adicionarProduto()">
  <label for="nome">Nome:</label>
  <input id="nome" [(ngModel)]="novoProduto.nome" name="nome" required />

  <label for="preco">Preço:</label>
  <input
    id="preco"
    [(ngModel)]="novoProduto.preco"
    name="preco"
    type="number"
    required
  />

  <label for="quantidade">Quantidade:</label>
  <input
    id="quantidade"
    [(ngModel)]="novoProduto.quantidade"
    name="quantidade"
    type="number"
    required
  />

  <button type="submit">Adicionar Produto</button>
</form>
